<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Tender</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" th:href="@{/assets/element-ui/index.css}">
	<link rel="icon" th:href="@{/assets/element-ui/fonts/element-icons.ttf}">
	<script th:src="@{/js/axios.js}"></script>
	<script th:src="@{/js/moment-with-locales.js}"></script>
	<script th:src="@{/js/common.js}"></script>
	<script th:src="@{/assets/vue-2.5.16/vue.js}"></script>
	<script th:src="@{/assets/element-ui/index.js}"></script>
	<style>
		.el-table .even-row {
			background: #E5F1ED;
		}
		.el-table .odd-row {
			background: #F9F9F9;
		}
		.el-table .header-cell {
			background: #4FA9A0;
			color: white;
		}
		.text-item {
			color: #8F9297;
			float: right;
			line-height: 40px;
		}
	</style>
</head>

<body>
<div id="tender">
	<el-container>
		<el-header>
			<el-row style="margin-top: 15px" :gutter="5">
				<el-col :xl="5" :sm="4">
					<el-autocomplete
						prefix-icon="el-icon-search"
						:placeholder="conditions.search.contentHint"
						:fetch-suggestions="searchContentAutoComplete"
						v-model="conditions.search.searchContent">
					</el-autocomplete>
				</el-col>
				<el-col :xl="3" :sm="2">
					<el-select
						clearable
						:placeholder="conditions.status.statusHint"
						v-model="conditions.status.announceStatus">
						<el-option
							v-for="item in conditions.status.options"
							:key="item.value"
							:label="item.label"
							:value="item.value">
						</el-option>
					</el-select>
				</el-col>
				<el-col :xl="4" :sm="4">
					<el-select
						multiple collapse-tags
						:placeholder="conditions.source.sourceHint"
						v-model="conditions.source.sourceWebsite">
						<el-option
							v-for="item in conditions.source.options"
							:key="item.value"
							:label="item.label"
							:value="item.value">
						</el-option>
					</el-select>
				</el-col>
				<el-col :xl="6" :sm="8">
					<el-date-picker
						type="daterange" unlink-panels
						:range-separator="conditions.date.separator"
						:start-placeholder="conditions.date.startDateHint"
						:end-placeholder="conditions.date.endDateHint"
						:format="conditions.date.format"
						:value-format="conditions.date.valueFormat"
						v-model="conditions.date.dateRange"
						:picker-options="conditions.date.options">
					</el-date-picker>
				</el-col>
				<el-col :xl="2" :sm="2">
					<el-button
						type="primary" icon="el-icon-search"
						:loading="table.loading"
						@click="clickSearchButton">搜索</el-button>
				</el-col>
				<el-col :xl="2" :sm="2">
					<el-button
						type="danger" icon="el-icon-delete"
						@click="clickClearSearchButton">清空</el-button>
				</el-col>
				<el-col :xl="1" :sm="1">
					<el-tooltip
						placement="top" effect="light"
						:content="exportExcel.clearButtonHint">
						<el-button
							circle type="danger" icon="el-icon-delete"
							:disabled="exportExcel.clearButtonDisabled"
							@click="clickClearSelectedButton">
						</el-button>
					</el-tooltip>
				</el-col>
				<el-col :xl="1" :sm="1">
					<el-tooltip
						placement="top" effect="light"
						:content="exportExcel.exportButtonHint">
						<el-button
							circle type="info" icon="el-icon-document"
							@click="clickExportExcelButton">
						</el-button>
					</el-tooltip>
				</el-col>
			</el-row>
			<el-dialog
				center width="30%"
				:visible.sync="exportExcel.confirmDialog.visible"
				:title="exportExcel.confirmDialog.title">
				<el-table
					border stripe max-height="500"
					row-key="projectId"
					:data="exportExcel.confirmDialog.data">
					<el-table-column label="序号" align="center" min-width="40">
						<template slot-scope="scope">
							<div>{{ scope.$index + 1 }}</div>
						</template>
					</el-table-column>
					<el-table-column prop="projectName" label="项目名称" align="center" min-width="250" show-overflow-tooltip></el-table-column>
					<el-table-column label="操作" align="center">
						<template slot-scope="scope">
							<el-button type="danger" mini @click="clickRemoveSelectedButton(scope.$index, scope.row)">移除</el-button>
						</template>
					</el-table-column>
				</el-table>
				<span slot="footer" class="dialog-footer">
			    <el-button @click="clickCancelExportExcelButton">取&nbsp;消</el-button>
					<el-badge :value="exportExcel.confirmDialog.count">
						<el-button type="primary" @click="clickConfirmExportExcelButton" style="margin-left: 20px">确&nbsp;定</el-button>
					</el-badge>
		    </span>
			</el-dialog>
		</el-header>
		<el-main>
			<el-card shadow="hover" :body-style="table.bodyStyle">
				<el-table
					ref="projectTable"
					:data="table.data"
					:row-class-name="tableRowClassName"
					v-loading="table.loading"
					row-key="projectId"
					@sort-change="getListSorted"
					@selection-change="getListSelected"
					@row-dblclick="rowDoubleClick"
					style="width: 100%"
					header-cell-class-name="header-cell">
					<!-- 序号 -->
					<el-table-column label="序号" align="center" fixed="left" >
						<template slot-scope="scope">
							<div>{{ scope.$index + 1 }}</div>
						</template>
					</el-table-column>
					<!-- 来源网站 -->
					<el-table-column prop="sourceWebsite" label="来源网站" min-width="200" align="center" fixed></el-table-column>
					<!-- 项目名称 -->
					<el-table-column prop="projectName" label="项目名称" min-width="250" align="center" show-overflow-tooltip fixed></el-table-column>
					<!-- 公告状态 -->
					<el-table-column prop="tenderDeadline" label="公告状态" min-width="150" align="center" :formatter="announceStatusFormatter" fixed></el-table-column>
					<!-- 项目编号 -->
					<el-table-column prop="projectId" label="项目编号" min-width="200" align="center" show-overflow-tooltip></el-table-column>
					<!-- 公告发布时间 -->
					<el-table-column prop="tenderAnnounceTime" label="公告发布日期" min-width="220" align="center"  :formatter="announceTimeFormatter" sortable="custom" show-overflow-tooltip></el-table-column>
					<!-- 报名截止时间 -->
					<el-table-column prop="tenderDeadline" label="报名截止日期" min-width="220" align="center"  :formatter="deadlineFormatter" sortable="custom" show-overflow-tooltip></el-table-column>
					<!-- 招标内容说明 -->
					<el-table-column label="招标内容说明" min-width="400" align="center">
						<template slot-scope="scope">
							<el-tooltip trigger="hover" placement="top" content="点击查看详细内容">
								<el-popover trigger="click" placement="top" width="500" :title="scope.row.projectName" :content="scope.row.projectDescription">
									<div slot="reference" style="white-space: nowrap">{{ scope.row.projectDescription }}</div>
								</el-popover>
							</el-tooltip>
						</template>
					</el-table-column>
					<!-- 招标人联系人 -->
					<el-table-column label="招标人联系人" min-width="150" align="center" show-overflow-tooltip>
						<template slot-scope="scope">
							<el-popover trigger="hover" placement="top">
								<p>姓名: {{ scope.row.contactPerson }}</p>
								<p>电话: {{ scope.row.contactPhone }}</p>
								<div slot="reference" class="name-wrapper">
									<el-tag size="medium">{{ scope.row.contactPerson }}</el-tag>
								</div>
							</el-popover>
						</template>
					</el-table-column>
					<!-- 备注 -->
					<el-table-column prop="remark" label="备注" min-width="200" align="center">
						<template slot-scope="scope">
							<el-tooltip trigger="hover" placement="top" content="点击查看详细内容">
								<el-popover trigger="click" placement="top" width="500" :title="scope.row.reportName" :content="scope.row.remark">
									<div slot="reference" style="white-space: nowrap">{{ scope.row.remark }}</div>
								</el-popover>
							</el-tooltip>
						</template>
					</el-table-column>
					<!-- 数据获取时间 -->
					<el-table-column prop="createTime" label="数据获取时间" min-width="150" align="center" :formatter="timeAgoFormatter" sortable="custom" show-overflow-tooltip fixed="right"></el-table-column>
					<!-- 多选框 -->
					<el-table-column type="selection" fixed="right" reserve-selection></el-table-column>
				</el-table>
			</el-card>
		</el-main>
		<el-footer align="center">
			<el-pagination
					ref="projectTablePagination"
					@size-change="changePageSize"
					@current-change="changePageNum"
					:current-page="pagination.pageNum"
					:page-sizes="pagination.pageSizes"
					:page-size="pagination.pageSize"
					:layout="pagination.layout"
					:prev-text="pagination.prevText"
					:next-text="pagination.nextText"
					:total="pagination.total">
			</el-pagination>
		</el-footer>
	</el-container>
</div>

<script type="text/javascript" th:inline="none">
	let vue = new Vue({
		el: '#tender',
		data: {
			conditions: {
				search: {
					searchContent: '',
					contentHint: '请输入项目名称',
				},
				status: {
					announceStatus: '',
					statusHint: '公告状态',
					options: [
						{ value: 1, label: '报名中' },
						{ value: 2, label: '已截止' }
					]
				},
				source: {
					sourceWebsite: '',
					sourceHint: '来源网站',
					options: [
						{ value: 1, label: '中国招标网' },
						{ value: 2, label: '采购网与招标网' },
						{ value: 3, label: '国家电网电子商务平台' },
						{ value: 4, label: '湖北省公共资源交易中心' },
						{ value: 5, label: '武汉市公共资源交易中心' }
					]
				},
				date: {
					dateRange: null,
					separator: '至',
					startDateHint: '开始日期',
					endDateHint: '结束日期',
					format: 'yyyy年 MM月dd日',
					valueFormat: 'yyyy-MM-dd HH:mm:ss',
					options: {
						shortcuts: [{
							text: '最近一周',
							onClick(picker) {
								const end = new Date();
								const start = new Date();
								start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
								picker.$emit('pick', [start, end]);
							}
						}, {
							text: '最近一个月',
							onClick(picker) {
								const end = new Date();
								const start = new Date();
								start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
								picker.$emit('pick', [start, end]);
							}
						}, {
							text: '最近三个月',
							onClick(picker) {
								const end = new Date();
								const start = new Date();
								start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
								picker.$emit('pick', [start, end]);
							}
						}]
					},
				}
			},
			exportExcel: {
				clearButtonHint: '清除已选项',
				exportButtonHint: '导出到Excel',
				clearButtonDisabled: true,
				confirmDialog: {
					title: '已选项目',
					visible: false,
					data: null,
					count: 0
				}
			},
			table: {
				loading: true,
				data: null,
				bodyStyle: {
					padding: '0px'
				},
				selections: null,
				sortConditions: {
					sortColumn: '',
					sortOrder: ''
				}
			},
			pagination: {
				pageNum: 1,
				pageSize: 10,
				pageSizes: [10, 20, 50, 100],
				layout: 'total, sizes, prev, pager, next, jumper',
				prevText: '上一页',
				nextText: '下一页',
				total: 0
			},
		},
		methods: {
			searchList: function({pageNum, pageSize, searchContent, announceStatus, sourceWebsite, startDate, endDate}) {
				vue.table.loading = true;
				http.get("/tender/list/search",
					{
						pageNum: pageNum,
						pageSize: pageSize,
						searchContent: searchContent,
						announceStatus: announceStatus,
						sourceWebsite: sourceWebsite,
						startDate: startDate,
						endDate: endDate,
					},
					success => {
						let data = success.data;
						vue.table.data = data.list;
						vue.pagination.total = data.total;
						vue.table.loading = false;
					}
				)
			},
			searchContentAutoComplete: function(searchContent, callback) {
				http.get("/tender/list/search/auto_complete",
					{
						searchContent: searchContent
					},
					success => {
						callback(success.data);
					}
				)
			},
			// todo 排序
			getListSorted: function(sortCondition) {
			},
			getListSelected: function(selection) {
				vue.table.selections = selection;
				vue.exportExcel.clearButtonDisabled = selection.length <= 0;
				vue.exportExcel.confirmDialog.data = [];
				for (let item of selection) {
					vue.exportExcel.confirmDialog.data.push(item);
				}
				if (vue.exportExcel.confirmDialog.data != null) {
					vue.exportExcel.confirmDialog.count = vue.exportExcel.confirmDialog.data.length;
				}
			},
			// todo sourceUrl
			rowDoubleClick: function(row, event) {
				window.open(row.sourceUrl);
			},
			changePageSize: function(pageSize) {
				vue.pagination.pageSize = pageSize;
				vue.pagination.pageNum = 1;
				let sourceWebsite = '';
				if (vue.conditions.source.sourceWebsite != null) {
					for (let i = 0; i < vue.conditions.source.sourceWebsite.length; i++) {
						sourceWebsite += vue.conditions.source.sourceWebsite[i] + ',';
					}
				}
				let startDate = '';
				let endDate = '';
				if (vue.conditions.date.dateRange != null) {
					startDate = vue.conditions.date.dateRange[0];
					endDate = vue.conditions.date.dateRange[1];
				}
				vue.searchList({
					pageNum: vue.pagination.pageNum,
					pageSize: pageSize,
					searchContent: vue.conditions.search.searchContent,
					announceStatus: vue.conditions.status.announceStatus,
					sourceWebsite: sourceWebsite,
					startDate: startDate,
					endDate: endDate
				});
			},
			changePageNum: function(pageNum) {
				vue.pagination.pageNum = pageNum;
				let sourceWebsite = '';
				if (vue.conditions.source.sourceWebsite != null) {
					for (let i = 0; i < vue.conditions.source.sourceWebsite.length; i++) {
						sourceWebsite += vue.conditions.source.sourceWebsite[i] + ',';
					}
				}
				let startDate = '';
				let endDate = '';
				if (vue.conditions.date.dateRange != null) {
					startDate = vue.conditions.date.dateRange[0];
					endDate = vue.conditions.date.dateRange[1];
				}
				vue.searchList({
					pageNum: pageNum,
					pageSize: vue.pagination.pageSize,
					searchContent: vue.conditions.search.searchContent,
					announceStatus: vue.conditions.status.announceStatus,
					sourceWebsite: sourceWebsite,
					startDate: startDate,
					endDate: endDate
				});
			},
			clickSearchButton: function() {
				console.log(vue.conditions);
				let sourceWebsite = '';
				if (vue.conditions.source.sourceWebsite != null) {
					for (let i = 0; i < vue.conditions.source.sourceWebsite.length; i++) {
						sourceWebsite += vue.conditions.source.sourceWebsite[i] + ',';
					}
				}
				let startDate = '';
				let endDate = '';
				if (vue.conditions.date.dateRange != null) {
					startDate = vue.conditions.date.dateRange[0];
					endDate = vue.conditions.date.dateRange[1];
				}
				vue.searchList({
					pageNum: 1,
					pageSize: vue.pagination.pageSize,
					searchContent: vue.conditions.search.searchContent,
					announceStatus: vue.conditions.status.announceStatus,
					sourceWebsite: sourceWebsite,
					startDate: startDate,
					endDate: endDate
				});
			},
			clickClearSearchButton: function() {
				vue.conditions.search.searchContent = '';
				vue.conditions.status.announceStatus = '';
				vue.conditions.source.sourceWebsite = [];
				vue.conditions.date.dateRange = null;
			},
			clickExportExcelButton: function() {
				if (vue.table.selections == null || vue.table.selections.length === 0) {
					this.$message({
						type: 'warning',
						center: true,
						message: '请选择要导出的项目'
					});
					return;
				}
				let projectIds = '';
				for (let projectDetail of vue.table.selections) {
					projectIds += projectDetail.projectId + ',';
				}
				http.post("/tender/list/excel",
						{
							projectIds: projectIds
						}
				);
				vue.exportExcel.confirmDialog.visible = true;
			},
			clickClearSelectedButton: function() {
				this.$confirm('清除所有已选项目?', '提示', {
					confirmButtonText: '确定',
					cancelButtonText: '取消',
					type: 'warning'
				}).then(() => {
					this.$message({
						type: 'success',
						center: true,
						duration: 2000,
						message: '已清除'
					});
					vue.$refs.projectTable.clearSelection();
				}).catch(() => {
					this.$message({
						type: 'info',
						center: true,
						duration: 1500,
						message: '已取消'
					});
				});
			},
			clickRemoveSelectedButton: function(index, row) {
				vue.exportExcel.confirmDialog.data.splice(index, 1);
				if (vue.exportExcel.confirmDialog.data != null) {
					vue.exportExcel.confirmDialog.count = vue.exportExcel.confirmDialog.data.length;
				}
				vue.table.selections = vue.exportExcel.confirmDialog.data;
				vue.$refs.projectTable.toggleRowSelection(row, false);
				if (vue.table.selections == null || vue.table.selections.length === 0) {
					vue.exportExcel.clearButtonDisabled = true;
					vue.exportExcel.confirmDialog.visible = false;
				}
			},
			clickCancelExportExcelButton: function() {
				vue.exportExcel.confirmDialog.visible = false;
				this.$message({
					message: '已取消',
					type: 'info',
					center: true,
					duration: 1500
				});
			},
			clickConfirmExportExcelButton: function() {
				let projectIds = '';
				for (let projectDetail of vue.table.selections) {
					projectIds += projectDetail.projectId + ',';
				}
				vue.exportExcel.confirmDialog.visible = false;
				// 弹出下载窗口
				window.location.href = "/tender/list/excel?projectIds="+ projectIds +"";

			},
			// render
			tableRowClassName: function({row, rowIndex}) {
				if (rowIndex % 2 === 1) {
					return 'even-row';
				} else {
					return 'odd-row';
				}
			},
			// formatter
			deadlineFormatter: function(row) {
				let dateTime = row.tenderDeadline;
				return dateTime == null ? '' : moment(dateTime).format('YYYY年 MM月DD日');
			},
			announceTimeFormatter: function(row) {
				let dateTime = row.tenderAnnounceTime;
				return dateTime == null ? '' : moment(dateTime).format('YYYY年 MM月DD日');
			},
			announceStatusFormatter: function(row) {
				let dateTime = row.tenderDeadline;
				let now = moment();
				if (dateTime == null) {
					return '';
				}
				if (moment(dateTime).isAfter(now)) {
					return '报名中';
				} else {
					return '已截止';
				}
			},
			timeAgoFormatter: function (row) {
				let dateTime = row.createTime;
				moment.locale('zh-cn');
				return dateTime == null ? '' : moment(dateTime).fromNow();
			}
		}
	});
	vue.searchList({});
</script>
</body>
</html>